.cover__link {
  max-width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/cover-trains.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  margin: 0 auto;
}

.cover__link:hover {
  background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../../images/cover-trains.jpg);
}

@media (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}