.places {
  max-width: 984px;
  width: calc(100% - 148px);
  margin: 0 auto 92px;
  padding: 0;
}
@media (max-width: 1024px) {
  .places {
      width: calc(100% - 96px);
  }
}
@media (max-width: 768px) {
  .places {
      width: calc(100% - 48px);
      margin-top: 64px;
  }
}

@media (max-width: 320px) {
  .places {
    width: 100%;
    margin-bottom: 65px;
  }
}
