.places {
  max-width: 984px;
  width: calc(100% - 148px);
  margin: 86px auto 99px;
  padding: 0;
}
@media (max-width: 1024px) {
  .places {
      width: calc(100% - 96px);
      margin-top: 75px;
      margin-bottom: 88px;
  }
}
@media (max-width: 1023px) {
  .places {
    width: calc(100% - 48px);
      margin-top: 86px;
      margin-bottom: 92px;
  }
}

@media (max-width: 465px) {
  .places {
    width: 100%;
    margin-top: 49px;
    margin-bottom: 65px;
  }
}
