.lead__title {
  margin: 0 auto 35px;
  padding: 0;
  display: flex;
  max-width: 720px;
  color: #fff;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__title {
  margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .lead__title {
    font-size: 12vw;
    margin-bottom: 40px;
  }
}

@media (max-width: 465px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 16px;
  }
}
