.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-gap: 51px 38px;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .place {
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px 16px;
  }
}
@media (max-width: 768px) {
  .place {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      grid-gap: 40px 25px;
      margin-bottom: 88px;
  }
}
@media (max-width: 320px) {
  .place {
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-gap: 32px 0;
      margin-bottom: 55px;
  }
}